<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome to My Awesome Site, <%= @member.name %>!</h1>
    <p>
      You have successfully signed up to our app.
      Your username is: <%= @user.email %>.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
  </body>
</html>
