<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Leader Broad App!</title>
</head>
<body>
    <h1>Welcome to Leader Broad App!</h1>
    <p>We already created your account in our system. This information is for signing in to our application.</p>
    <p>Your User Name is: <%= @username %></p>
    <p>Your password is: <%= @password %></p>
</body>
</html>
